// App Theme Variables
// source: node_modules/vuetify/src/stylus/settings
// $body-font-family = 'Open Sans'
// $alert-font-size = 18px


// Import Vuetify CSS
@import '~vuetify/src/stylus/main'

// Import material icons
@import '~material-design-icons-iconfont/dist/material-design-icons.css';

// Custom CSS or class overrides below
